<div class="row mb-3">
  <h2 class="text-center">My Routines</h2>
  <hr />
  <div class="col-md-12" *ngFor="let exerciseEl of myRoutines; let i = index">
    <app-exercise
      class="text-center"
      [exercise]="exerciseEl"
      [idx]="i"
    ></app-exercise>
    <button
      class="float-end delete"
      style="border: none; font-size: 16px"
      (click)="onRemoveExercise(i)"
    >
      &minus;
    </button>
  </div>
</div>
<hr />
<div class="text-center">
  <button class="btn btn-primary">Add New exercise</button>
</div>
